build/
build-*/
compile_commands.json
.cache/
notes/.obsidian
notes/external/
*.xlsx
*.DS_Store
third_party
.venv/
scripts/spsc_queue_head_to_head/*.md
scripts/spsc_queue_head_to_head/*.csv
scripts/spsc_queue_head_to_head/*.png
scripts/*.png
scripts/spsc_queue_head_to_head/old